@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --accent-color:#8672FF;
    --base-color:rgb(78, 28, 122);
    --text-color:#96b0ea;
    --input-color:rgba(23, 15, 48, 0.917);
}
*{
    margin: 0;
    padding:0;
}
html{
    font-family: Poppins,sans-serif;
    color: var(--text-color);
    text-align: center;
}
body{
    min-height: 100vh;
    background-image: url(jevil.webp);
    background-size: cover;
    overflow: hidden;
}
.wrapper{
    background-color: var(--base-color);
    height: 100vh;
    width:max(40%,600px);
    border-radius:0 20px 20px 0;
}